body{
    background-color: #0D1117;
    font-family: "Asimovian", sans-serif;
    font-size: larger;
}

main{
    background-color: rgb(38, 38, 38);
    width: 50vw;
    padding: var(--grid-gap);
    min-height: 100vh;
    margin: auto;
    color: white;
    display: grid;
    gap: var(--grid-gap);
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(6, 1fr);
}

header, section, footer{
    border: 5px solid black;
    border-radius: 5px;
    background-color: #705FD9;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

#content{
    background-image: linear-gradient(to bottom right, #6659DC, #3590F2, #36D2E0);
    grid-row:span 2;
}

#sidebar{
    background-color: #37CAC3;
    grid-row: span 4;
}
#content-1{
    background-image: linear-gradient(to bottom right, #6659DC, #3590F2, #36D2E0);
    grid-column: span 2;
    grid-row: span 2;
}

#footer, header{
    grid-column: span 3;
}

@media (max-width:400px){
    main {
        font-size: 7.5px;
        color: darkred;
    }
}

@media (min-width: 400px) and (max-width: 800px){
    main {
        font-size: 15px;
        color: darkgreen;
    }
}

@media (min-width:800px){
    main {
        font-size: 30px;
        color: darkblue;
    }
}

:root{
    --grid-gap: 15px
}
